<h1>Restaurants</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th colspan="2"></th>
        </tr> 
    </thead>
    
    <tbody>
        <% @restaurants.each do |restaurant| %>
            <tr id="restaurant_<%= restaurant.id %>">
                <td><%= restaurant.name %></td>
                <td><%= restaurant.address %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', place_path(@place) %>
